*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family: "Inter", sans-serif;
    --black: #0d0d0d;
    --gray: #666;
    --background: #f4f4f4;
    --white: #fff;
    --light-gray: #dbdbdb;
}

::selection {
    background-color: var(--gray);
    color: var(--white);
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: transform 800ms ease-in-out;
}

#preloader.hidden {
    transform: translateY(-100%);
}

#preloader video {
    width: 400px;
    height: auto;
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
}


@media (min-width: 1440px) {
    .main-photo1 {
        right: 38%;;
    }
}

@media (min-width: 1440px) {
    .main-photo2 {
        left: 38%;;
    }
}

@media (max-width: 1440px) {
    .main-photo1 {
        right: 32%;
    }
}

@media (max-width: 1200px) {
    .main-photo1 {
        right: 28%;
    }
}

@media (max-width: 1440px) {
    .main-photo2 {
        left: 32%;
    }
}

@media (max-width: 1200px) {
    .main-photo2 {
        left: 28%;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
    font-family: var(--font-family);
    overflow-x: hidden;
}

h1, p, .hud, .basket {
    font-family: var(--font-family);
    font-weight: 500;
    line-height: 140%;
}

h1 {
    font-size: 48px;
    color: var(--black);
    margin-bottom: 40px;
    line-height: 117%;
}

h2 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 44px;
    line-height: 118%;
    color: var(--black);
    margin-bottom: 40px;
}

h3 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 36px;
    line-height: 122%;
    color: var(--black);
}

p {
    font-size: 20px;
    color: var(--gray);
    grid-column: 7 / span 6;
}

main {
    display: flex;
    flex-direction: column;
    gap: 120px;
    padding-bottom: 40px;
}

.p-disc {
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    background: linear-gradient(90deg, var(--gray) 0%, #ccc 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

span {
    color: var(--gray);
}

.nav {
    position: fixed;
    padding: 20px 40px;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background: var(--white);
    border-bottom: 2px solid var(--light-gray);
    z-index: 100;
    transition: background 200ms, border-bottom 200ms, transform 200ms;
}

.nav.scrolled {
    background: transparent;
    border-bottom: 2px solid transparent;
}

.hud, .basket {
    font-size: 20px;
    text-decoration: none;
    color: var(--black);
    display: inline-flex;
    align-items: center;
}

.hud {
    margin: 0 auto;
    width: 375px;
    height: 28px;
    gap: 60px;
    position: sticky;
    flex-shrink: 0;

    transition: opacity 0.3s ease-in-out;
}

.basket {
    height: 28px;
}

.link {
    position: sticky;
    color: var(--black);
    cursor: pointer;
    line-height: 1;
    text-decoration: none;
}

.link::after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--black);
    content: "";
    transition: width 200ms ease-out;
}

.link:hover::after, .link:focus::after {
    width: 100%;
}

.moon-icon {
    width: 24px;
    height: 24px;
    background-attachment: fixed;
}

.hero {
    padding: 120px 0px 0px 0px;
}

.container {
    max-width: 1400px;
    margin: auto;
    padding: 0px 20px 0px 20px;
}

.main-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    margin-bottom: 40px;
    background: url(media/main-photo.png) center/cover no-repeat;

    animation: main-photo 800ms ease-out;
}

@keyframes main-photo {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0px)
    }
}

@keyframes main-photos {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0px)
    }
}

.p-disc-cont {
    display: flex;
    gap: 16px;
    align-items: center;
    grid-column: 1 / span 4;
}

.p-text {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    align-items: end;
}

.main-photo1 {
    position: relative;
    top: 10%;
    z-index: 1;

    animation: main-photos 800ms ease-out;
}

.main-photo2 {
    position: relative;
    bottom: 10%;
    z-index: 1;

    animation: main-photos 800ms ease-out;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 120px;
    padding-top: 120px;
}

.features-content {
    opacity: 0;
    transform: translateY(20px); /* Чуть ниже */
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

.cta1, .cta2 {
    opacity: 0;
    transform: translateY(20px); /* Чуть ниже */
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

.gallery {
    padding: 40px 40px;
    background-color: var(--white);
    border-bottom: 2px solid var(--light-gray);
    border-top: 2px solid var(--light-gray);
}

.cards {
    display: flex;
    gap: 20px;

    margin-bottom: 40px;
}

.card {
    width: 325px;
    height: 325px;
    padding: 12px;
    background-size: 100%;
    background-position: center;
    transition: 400ms;
    position: relative;
}

.card-button {
    position: absolute;
    bottom: 12px;
    right: 12px;
    width: 80px;
    height: 80px;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0.8);
    transition: 200ms;
}

.card:hover {
    background-size: 110%;
    transition: 400ms;
}

.card:hover .card-button {
    transform: scale(1);
    opacity: 1;
    transition: 400ms;
}

.card:hover .card-disc {
    filter: blur(2px);
    transition: 400ms;
}

.card-button:hover img {
    transform: rotate(-45deg);
    transition: 400ms;
}

.card-button img {
    transform: rotate(0deg);
    transition: 400ms;
}

.card:nth-child(1){
    background-image: url(media/Product\ Card.png);
}
.card:nth-child(2){
    background-image: url(media/Product\ Card-1.png);
}
.card:nth-child(3){
    background-image: url(media/Product\ Card-2.png);
}
.card:nth-child(4){
    background-image: url(media/Product\ Card-3.png);
}
.card:nth-child(5){
    background-image: url(media/Product\ Card-2.png);
}
.card:nth-child(6){
    background-image: url(media/Product\ Card-3.png);
}
.card:nth-child(7){
    background-image: url(media/Product\ Card.png);
}
.card:nth-child(8){
    background-image: url(media/Product\ Card-1.png);
}
.card:nth-child(9){
    background-image: url(media/Product\ Card-2.png);
}
.card:nth-child(10){
    background-image: url(media/Product\ Card-3.png);
}
.card-disc {
    display: flex;
    gap: auto;
    justify-content: space-between;
    backdrop-filter: blur(0px);
    transition: 400ms;
}
.card-disc p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);
}

.features-content h2 {
    max-width: 1400px;
    margin: auto;
    padding: 0px 20px 0px 20px;
}

.features-lines {
    display: flex;
    flex-direction: column;
    border-top: 2px solid var(--light-gray);
    margin-top: 40px;
}

.feature-content {
    max-width: 1400px;
    margin: auto;
    padding: 0px 20px 0px 20px;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    align-items: center;
}

.feature img {
    grid-column: 1 / span 1;
}

.feature h3 {
    grid-column: 2 / span 4;
}

.feature p {
    grid-column: 7 / span 6;
}

.features-lines a {
    padding: 26px 0px 26px 0px;
    border-bottom: 2px solid var(--light-gray);
    transition: 200ms;
}

.features-lines a:hover {
    background-color: var(--white);
    padding-left: 20px;
    transition: 400ms;
}

.cta {
    background-color: var(--white);
    border-bottom: 2px solid var(--light-gray);
    border-top: 2px solid var(--light-gray);
    padding: 40px 0px 40px 0px;
}

.cta1 {
    max-width: 1400px;
    margin: auto;
    padding: 0px 20px 0px 20px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
}

.cta1 h2{
    grid-column: 1 / span 6;
}

.cta1 p{
    grid-column: 7 / span 6;
}

.cta2 {
    max-width: 1400px;
    margin: auto;
    padding: 0px 20px 0px 20px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    align-items: end;
}

.cta2 .p-disc-cont {
    grid-column: 1 / span 6;
}

.cta2 a {
    grid-column: 7 / span 6;

    display: flex;
    justify-content: space-between;
    background-color: var(--black);
    padding: 32px 40px;
    text-decoration: none;

    transition: 400ms;
}

.cta2 a h3 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 36px;
    line-height: 122%;
    color: var(--white);
}

.cta2 a:hover {
    padding-left: 52px;
    transition: 400ms;
}

.cta2 a:hover img {
    transform: rotate(-45deg);
    transition: 400ms;
}

.cta2 img {
    transform: rotate(0deg);
    transition: 400ms;
}

.goUP {
    max-width: 1400px;
    margin: auto;
}

.goUP a {
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--gray);
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: end;
    gap: 4px;
    transition: 400ms;
}

.goUP a:hover {
    transform: translateY(-4px);
    transition: 400ms;
}

footer {
    background-color: var(--black);
    padding: 120px 0px 40px 0px;
}

.footer-content {
    max-width: 1400px;
    margin: auto;
    padding: 0px 20px 0px 20px;

    display: flex;
    justify-content: space-between;
    align-items: end;
}

.footer-content a {
    color: var(--white);
    text-decoration: none;
    font-weight: 400;
    transition: 400ms;
}

.footer-content a:hover {
    color: var(--gray);
    transition: 400ms;
}

@media (max-width: 768px) {
    h1 {
        font-size: 32px;
        line-height: 34px;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 32px;
        line-height: 34px;
        margin-bottom: 40px
    }

    h3 {
        font-size: 24px;
        line-height: 28px;
    }

    p {
        font-size: 16px;
        line-height: 24px;
    }

    main {
        gap: 80px;
        width: 100%;
    }

    .nav {
        padding: 20px 16px;
        height: auto;
        justify-content: space-between;
    }

    .hud {
        display: none;
    }

    .basket {
        margin-top: 10px;
    }

    .hero {
        padding: 100px 0 0;
    }

    .p-text {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .p-disc-cont {
        display: none;
    }

    .container {
        padding: 0 16px;
    }

    .main-photo {
        height: 40vh;
        margin-bottom: 20px;
    }

    .gallery {
        padding: 20px 0px;
    }

    .cards {
        flex-direction: column;
    }

    .card {
        width: 100%;
        height: 280px;
    }

    .card-button {
        width: 80px;
        height: 80px;
        opacity: 1;
        transform: scale(1);
    }

    .card:hover {
        background-size: 100%;
    }
    
    .card:hover .card-button {
        transform: scale(1);
    }
    
    .card:hover .card-disc {
        filter: blur(0px);
    }

    a.feature {
        padding: 0px;
    }

    .feature-content img {
        width: 28px;
        height: 28px;
    }

    .features-lines {
        gap: 0px;
        background-color: var(--white);
    }

    .feature-content {
        padding: 20px;
        display: flex;
    }

    .feature-content p {
        display: none;
    }

    .features-lines a:hover {
        padding-left: 0px;
    }

    .cta {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .cta1 {
        padding: 0px;
        gap: 0px;
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
    }

    .cta2 {
        padding: 0px;
        display: flex;
    }

    .cta1 h2{
        margin-bottom: 20px;
    }

    .cta2 a h3 {
        font-size: 24px;
        line-height: 28px;
        font-weight: 400;
    }

    .cta2 a {
        width: 100%;
        align-items: center;
        padding: 16px 24px;
    }

    .goUP a {
        font-size: 14px;
    }

    footer {
        padding: 80px 16px 16px 16px;
    }

    footer img {
        width: 150px;
        height: auto;
    }

    .footer-content {
        padding: 0px;
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 16px;
    }
}
