*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family: "Inter", sans-serif;
    --black: #0d0d0d;
    --gray: #666;
    --background: #f4f4f4;
    --white: #fff;
    --light-gray: #dbdbdb;
}

::selection {
    background-color: var(--gray);
    color: var(--white);
}

body {
    background-color: var(--background);
    font-family: var(--font-family);
}

h1, p, .hud, .basket {
    font-family: var(--font-family);
    font-weight: 500;
    line-height: 140%;
}

h1 {
    font-size: 48px;
    color: var(--black);
    margin-bottom: 40px;
    line-height: 117%;
}

p {
    font-size: 20px;
    color: var(--gray);
    grid-column: 7 / span 6;
}

.p-disc {
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    background: linear-gradient(90deg, var(--gray) 0%, #ccc 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

span {
    color: var(--gray);
}

.nav {
    position: fixed;
    padding: 20px 40px;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background: var(--white);
    border-bottom: 2px solid var(--light-gray);
    z-index: 10;
}

.hud, .basket {
    font-size: 20px;
    text-decoration: none;
    color: var(--black);
    display: inline-flex;
    align-items: center;
}

.hud {
    margin: 0 auto;
    width: 375px;
    height: 28px;
    gap: 60px;
    position: sticky;
    flex-shrink: 0;
}

.basket {
    height: 28px;
}

.link {
    position: sticky;
    color: var(--black);
    cursor: pointer;
    line-height: 1;
    text-decoration: none;
}

.link::after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--black);
    content: "";
    transition: width 200ms ease-out;
}

.link:hover::after, .link:focus::after {
    width: 100%;
}

.moon-icon {
    width: 24px;
    height: 24px;
    background-attachment: fixed;
}

.container {
    padding-top: 120px;
    display: flex;
    margin: auto;
    width: 1360px;
}

.main-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1360px;
    height: 340px;
    margin-bottom: 40px;
    background: url(media/main-photo.png) center/cover no-repeat;
}

.p-disc-cont {
    display: flex;
    gap: 16px;
    align-items: center;
    grid-column: 1 / span 4;
}

.p-text {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    align-items: end;
}

.main-photo1 {
    position: relative;
    top: 10%;
    right: 38%;
    z-index: 1;
}

.main-photo2 {
    position: relative;
    bottom: 10%;
    left: 38%;
    z-index: 1;
}

.main {
    padding: 0 40px;
}
